<!DOCTYPE html>
<html ng-app="showMvcAPP">
<head lang="en">
    <meta charset="UTF-8">
    <title>show MVC</title>
</head>
<body ng-controller="TextController">
    <p>{{myMsg.someText}}</p>
    <p ng-bind="myMsg.someText"></p>

    <form ng-submit="requestFunding()" ng-controller="StarUpController">
        Starting : <input ng-change="computeNeeded()" ng-model="funding.startingEstimate">
        Recommendation : {{funding.needed}}
        <button>Fund my startup</button>
        <button ng-click="reset()">Reset</button>
    </form>

    <script src="../js/angular.js"></script>
<script>
    var showMvcAPP = angular.module('showMvcAPP',[]);
    showMvcAPP.controller('TextController', function ($scope) {
        var myMsg = {};
        myMsg.someText = 'single coder --> matter....WTF';
        $scope.myMsg = myMsg;
    });


    showMvcAPP.controller('StarUpController', function ($scope) {

        $scope.computeNeeded = function () {
            $scope.funding.needed = $scope.funding.startingEstimate * 10;
        };

        $scope.requestFunding = function () {
            window.alert('get more customer please...');
        };

        $scope.reset = function () {
            $scope.funding.startingEstimate = 0;
        }
    });
</script>
</body>
</html>